.welcome{
  z-index: 10;
  background: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 150px;
}
:host{
  grid-row: 1;
  display: grid;
  z-index: 10;
}
