<div class="icon-grid">
  <div>
    <img src="assets/hdr10.svg" alt="hrd10">
    <h3>UP TO 4k144</h3>
    <p>Capture & passthrough on native 4k144* monitors</p>
  </div>
  <div>
    <img src="assets/hdr10.svg" alt="hrd10">
    <h3>UP TO 4k144</h3>
    <p>Capture & passthrough on native 4k144* monitors</p>
  </div>
  <div>
    <img src="assets/hdr10.svg" alt="hrd10">
    <h3>UP TO 4k144</h3>
    <p>Capture & passthrough on native 4k144* monitors</p>
  </div>
</div>
<div class="icon-grid">
  <div>
    <img src="assets/hdr10.svg" alt="hrd10">
    <h3>UP TO 4k144</h3>
    <p>Capture & passthrough on native 4k144* monitors</p>
  </div>
  <div>
    <img src="assets/hdr10.svg" alt="hrd10">
    <h3>UP TO 4k144</h3>
    <p>Capture & passthrough on native 4k144* monitors</p>
  </div>
  <div>
    <img src="assets/hdr10.svg" alt="hrd10">
    <h3>UP TO 4k144</h3>
    <p>Capture & passthrough on native 4k144* monitors</p>
  </div>
</div>
