<div class="grid">
  <app-welcome></app-welcome>
  <div class="section" appScrollAnimation>
    <div class="main-info">
    </div>
    <div class="text-subtitle first-text animate" appScrollAnimation>
      <p>
        ELGATO BRINGS SUPERSPEED GAME CAPTURE TO NEXT GEN PLAYERS. WITH HIGH-RESOLUTION, HIGH FRAME RATE PASSTHROUGH AND CAPTURE, IT'S OUR MOST POWERFUL USB CAPTURE CARD EVER. STILL, IT SETS UP IN A SNAP AND GETS OUT OF YOUR WAY. YOU WON'T EVEN KNO IT'S THERE.
      </p>
      <app-feature-list appScrollAnimation></app-feature-list>
    </div>
  </div>
  <app-thank-you></app-thank-you>
</div>
